*
# post install arch
!.post-install

# X init
!.xinitrc

# configs
!.config/

!.config/bleachbit/
!.config/bleachbit/bleachbit.ini

!.config/catfish/
!.config/catfish/catfish.rc

!.config/fontconfig/
!.config/fontconfig/fonts.conf

!.config/galculator/
!.config/galculator/galculator.conf

!.config/gpick/
!.config/gpick/settings.xml

!.config/gtk-2.0/
!.config/gtk-2.0/*

!.config/gtk-3.0/
!.config/gtk-3.0/*

!.config/htop/
!.config/htop/htoprc

!.config/i3/
!.config/i3/*
!.config/i3/src/
!.config/i3/src/*
!.config/i3/scripts/
!.config/i3/scripts/*

!.config/polybar/
!.config/polybar/*
!.config/polybar/scripts
!.config/polybar/scripts/*

!.config/termite/
!.config/termite/*
!.config/termite/themes
!.config/termite/themes/*

!.config/Thunar/
!.config/Thunar/*

!.config/xfce4/
!.config/xfce4/*
!.config/xfce4/panel/
!.config/xfce4/panel/*
!.config/xfce4/terminal/
!.config/xfce4/terminal/*
!.config/xfce4/xfconf/
!.config/xfce4/xfconf/xfce-perchannel-xml/
!.config/xfce4/xfconf/xfce-perchannel-xml/*

!.config/compton.conf
!.config/mimeapps.list
!.config/okularpartrc
!.config/okularrc
!.config/user-dirs.dirs

# Git
!.gitignore
!.gitconfig

# Oh my zsh
!.zshrc

# Bash
!.bashrc

# gtk
!.gtkrc-2.0
!.gtk-bookmarks

# display manager
!.dmrc

# boostnote
!Boostnote/
!Boostnote/*
!Boostnote/notes/*
