createdAt: "2018-12-30T19:52:42.258Z"
updatedAt: "2018-12-30T19:53:47.199Z"
type: "SNIPPET_NOTE"
folder: "b43ca0db5f8fd2bfcf06"
title: "Heroku"
description: "Heroku"
snippets: [
  {
    name: ""
    mode: "text"
    content: ""
  }
]
tags: []
isStarred: false
isTrashed: true
